@use "./variables.scss" as *;

// put your custom CSS here!

/* Убираем фон у внутренних ссылок */
a.internal {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
